body {
    background-color:rgb(81, 96, 102);
    border-style: dashed;
    border-color: rgb(7, 7, 7);
    
}

h1 {
    color: rgb(15, 8, 10);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline crimson;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

ol {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}